.ml-02{
    margin-left: 0.2rem;
}

.fpList{
    width: 100%;
    max-width: 64rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpListItem{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffecec;
    padding: 0 0 0.5rem 0;
    cursor: pointer;
}

.fpListImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.fpListName{
    font-weight: bold;
}

.fpListCity{
    font-weight: 300;
}

.fpListPrice{
    font-weight: 500;
}

.fpListRating>button{
    background-color: #003580;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 2px 8px 6px 8px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

.fpListRating>span{
    font-size: 14px;
}

@media screen and (max-width: 549px){
    .fpList{
        width: 90%;
        display: block;
    }

    .fpListItem{
        padding-bottom: 1.5rem;
        border: 1px solid #dfdfdf;
        margin-bottom: 0.7rem;
    }

    .fpListName, .fpListCity, .fpListPrice, .fpListRating {
        padding-left: 0.5rem;
    }
}