.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    border: 1px solid #ebeef414;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.navLogoLink{
    text-decoration: none;
}

.logo{
    font-weight: 1000;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.logo:hover{
    color: #0071c2;
}

.navButton{
    margin-left: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    color: #003580;
    border-radius: 2px;
}

.navButton:hover{
    background-color: #bfd4f1;
    color: #fff;
    transition: all linear 100ms;
}

@media screen and (max-width: 999px){
    .headerSearch{
        width: 97%;
    }
}

@media screen and (max-width: 549px){
    .headerSearch{
        width: 93%;
    }

    .navContainer{
        padding: 0 1rem;
    }

    .navItems{
        display: flex;
    }
}